# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-jwt
pyfcm

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine

elasticsearch-dsl
Flask-PyMongo

# ----------------------
# Other
# ----------------------
youtube-dl
responses==0.3
requests>=2.6.0
jinja2

pycrypto
python-firebase
pyfirebase
bunch